extends ../layouts/default.pug

block content
  if user
    h1 Welcome back #{ user.username }
    div
      include ../components/folder_header.pug
      include ../components/folder_contents.pug
  else
    h1 Hello World!
