- let { id, owner, updatedAt, sizeInBytes: size, name, type } = child;
- owner = owner.id === user.id ? 'me' : owner.username;
- updatedAt = format(updatedAt, 'MMM d, yyyy');
- size = size ? convertFileSize(size) : '-';
- const path = (type === 'FOLDER' ? '/folders/' : '/files/') + id;

tr(class='border-b border-gray-300 hover:bg-gray-100')
  td(class='px-4 py-3')
    div(class='flex items-center gap-3')
      div(class='text-xl')
        if type === 'FOLDER'
          include ../icons/folder.html
        else
          include ../icons/file.html
      a(href= path)= name
  td(class='text-gray-600 px-4 py-3'): div(class='w-max')= owner
  td(class='text-gray-600 px-4 py-3'): div(class='w-max')= updatedAt 
  td(class='text-gray-600 px-4 py-3'): div(class='w-max')= size
  td(class='text-gray-600 px-4')
    include ./options_dropdown.pug
