- const parent = folder.parentFolder;
- const folderPath = folder.type === 'ROOT' ? '/home' : `/folders/${folder.id}`;

nav(class='flex justify-between mb-6')
  div(class='text-xl flex items-center')
    if parent
      - const parentPath = parent.type === 'ROOT' ? '/home' : `/folders/${parent.id}`;
      a(href= parentPath)= parent.type === 'ROOT' ? 'Home' : parent.name
      span(class='mx-2 text-gray-700 text-base')
        include ../icons/chevron_right.html
    span= folder.type === 'ROOT' ? 'Home' : folder.name
  div(class='flex gap-8')
    a(href= folderPath + '/create_folder' class='flex items-center gap-3')
      include ../icons/folder_plus.html
      | Add folder 
    a(href= folderPath + '/upload_file' class='flex items-center gap-3')
      include ../icons/file_upload.html
      | Upload file
