table(class='w-full')
  thead
    tr(class= 'border-b border-gray-300 text-gray-600')
      th(class='text-left px-4 py-3 font-normal w-4/5'): div(class='w-max') Name
      th(class='text-left px-4 py-3 font-normal'): div(class='w-max') Owner
      th(class='text-left px-4 py-3 font-normal'): div(class='w-max') Last modified
      th(class='text-left px-4 py-3 font-normal'): div(class='w-max') File size
      th
  tbody
    each child in folder.children
      include ./child_row.pug
