doctype html
html
  head
    title= title || 'File Uploader'
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width' initial-scale=1)
    link(rel="stylesheet", href="/css/output.css")
  body(class='text-gray-950')
    aside(class='fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0')
      include ../components/sidebar/index.pug
    main(class='p-4 sm:ml-64')
      block content
