doctype html
html
  head
    title= title || 'File Uploader'
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width' initial-scale=1)
    link(rel="stylesheet", href="/css/tailwind.output.css")
    script(defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js") 
  body(class='relative text-gray-950 h-screen bg-gray-100')
    aside(class='fixed top-0 left-0 z-20 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0')
      include ../components/sidebar/index.pug
    div(class='sm:ml-64 h-full grid grid-rows-[auto_1fr]')
      header(class='z-10')
        include ../components/header/index.pug
      main(class='px-6 py-8 bg-white sm:rounded-tl-xl sm:border border-gray-300 overflow-auto')
        block content
    include ../components/modal/index.pug
